<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
  <div class="sidebar-header border-bottom">
    <a class="sidebar-brand text-decoration-none" href="/admin">
      <span class="sidebar-brand-full fw-bold fs-5">ToppiLife CES</span>
      <span class="sidebar-brand-narrow fw-bold fs-5">TL</span>
    </a>
    <button
      class="btn-close d-lg-none"
      type="button"
      data-coreui-theme="dark"
      aria-label="Close"
      onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"
    ></button>
  </div>

  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <svg class="nav-icon">
          <use xlink:href="/coreui/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
        </svg>
        Dashboard
      </a>
    </li>

    <li class="nav-title">Quản trị nội dung</li>

    <li class="nav-group">
      <a class="nav-link nav-group-toggle" href="#">
        <svg class="nav-icon">
          <use xlink:href="/coreui/vendors/@coreui/icons/svg/free.svg#cil-description"></use>
        </svg>
        Page config
      </a>
      <ul class="nav-group-items compact">
        <li class="nav-item">
          <a class="nav-link" href="/admin/page-config">
            <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
            Partial page
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/page-config/customize-section">
            <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
            Customize / Advantage
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/gallery">
        <svg class="nav-icon">
          <use xlink:href="/coreui/vendors/@coreui/icons/svg/free.svg#cil-image"></use>
        </svg>
        Gallery
      </a>
    </li>
  </ul>
</div>
